#container,#container img{
  width:100%;
}
#taste_form{
  margin:0 auto;
  width:934px;
  margin-top:30px;
}
table{
  position: relative;
}
table tr>td:first-child{
  width:131px;
  text-align:right;
  font-size:12px;
  line-height: 30px;
  padding:1px;
}
table tr>td:first-child::before{
  content: "*";
  color:red;
}
table tr>td:last-child{
  width:360px;
  font-size:left;
  font-size:12px;
  line-height:30px;
  padding:1px;
  text-align:left;
}
table tr>td>input{
  padding:1px 0px;
  width:230px;
}
.length_m{
  width:135px;
}
.length_l{
  width:90px;
}
#btn_1{
width:360px;
height:40px;
background:#5F285F;
border-radius:5px; 
text-align:center;
cursor: pointer;
position:absolute;
top:247px;
left:134px;
}
#btn_1 input{
  padding:0px 0;
  width:360px;
  height:100%;
  border-radius:5px; 
  background:#5F285F;
  font-size:20px;
  font-family:"Microsoft YaHei","微软雅黑","宋体","SimHei";
  font-weight:bold;
  color:#fff;
  border:none;
}
#btn_1 input:focus{
  border:none;
}
#btn_1 input:active{
  border:none;
}